  <table class="waffle" cellspacing="0" cellpadding="0">
    <tbody>
      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:00:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/01-intro/">1. Introducing the
        Shell</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:05:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/02-filedir/">2. Navigating Files and
        Directories</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:20:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/03-create/">3. Working With Files and
        Directories</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:35:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/04-pipefilter/">4. Pipes and
        Filters</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:50:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/05-loop/">5. Loops</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">9:05:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/06-script/">6. Shell Scripts</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">9:20:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/shell-novice/07-find/">7. Finding Things</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">9:35:00 AM</td>

        <td class="s2" dir="ltr">Break + Software Installation Assistance</td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">10:00:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/01-starting-with-data/">1.
        Analyzing Patient Data</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">10:45:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/02-func-R/">2. Creating
        Functions</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">11:15:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/03-loops-R/">3. Analyzing
        Multiple Data Sets</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">11:45:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/04-cond/">4. Making
        Choices</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">12:15:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/06-best-practices-R/">6. Best
        Practices for Writing R</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">12:25:00 PM</td>

        <td class="s2" dir="ltr">Lunch</td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">12:55:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/07-knitr-R/">7. Dynamic
        Reports with knitr</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">1:15:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/09-supp-intro-rstudio/">9.
        Introduction to RStudio</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">1:30:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/10-supp-addressing-data/">10.
        Addressing Data</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">1:50:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/11-supp-read-write-csv/">11.
        Reading and Writing CSV Files</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">2:20:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/12-supp-factors/">12.
        Understanding Factors</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">2:40:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/13-supp-data-structures/">13.
        Data Types and Structures</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">3:25:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/14-supp-call-stack/">14. The
        Call Stack</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">3:40:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-inflammation/15-supp-loops-in-depth/">15.
        Loops in R</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0" dir="ltr">4:10:00 PM</td>

        <td class="s2" dir="ltr">FIN</td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0" dir="ltr">8:00:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/01-basics/">1. Automated Version
        Control</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">8:05:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/02-setup/">2. Setting Up Git</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0">8:10:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/03-create/">3. Creating a
        Repository</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">8:20:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/04-changes/">4. Tracking
        Changes</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">8:40:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/05-history/">5. Exploring
        History</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">9:05:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/06-ignore/">6. Ignoring Things</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">9:10:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/07-github/">7. Remotes in
        GitHub</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">9:40:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/08-collab/">8. Collaborating</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">10:05:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/09-conflict/">9. Conflicts</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">10:20:00 AM</td>

        <td class="s2" dir="ltr">Break</td>
      </tr>

      <tr style='height:20px;'>


        <td class="s0">10:40:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/10-open/">10. Open Science</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">10:50:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/11-licensing/">11. Licensing</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0">10:55:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/12-citation/">12. Citation</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">10:57:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/13-hosting/">13. Hosting</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">11:07:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/git-novice/14-supplemental-rstudio/">14. Using Git
        from RStudio</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">11:17:00 AM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-gapminder/08-plot-ggplot2/">8. Creating
        Publication-Quality Graphics</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">12:37:00 PM</td>

        <td class="s2" dir="ltr">Lunch</td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0">1:15:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-gapminder/09-vectorization/">9.
        Vectorization</a></td>
      </tr>

      <tr style='height:20px;'>


        <td class="s0">1:40:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-gapminder/11-writing-data/">11. Writing
        Data</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">2:00:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-gapminder/12-plyr/">12.
        Split-Apply-Combine</a></td>
      </tr>

      <tr style='height:20px;'>
        <td class="s0">3:00:00 PM</td>

        <td class="s1" dir="ltr"><a target="_blank" href=
        "http://swcarpentry.github.io/r-novice-gapminder/13-dplyr/">13. Dataframe
        Manipulation with dplyr</a></td>
      </tr>

      <tr style='height:20px;'>

        <td class="s0">3:55:00 PM</td>

        <td class="s2" dir="ltr">FIN</td>
      </tr>
    </tbody>
  </table>
